{% extends 'dashboard/index.html.twig' %}

{% block body_title %}
    <a href="{{ path('app_dashboard') }}">Dashboard</a> -> # {{ dashboard.id }}
{% endblock %}
{% block body_body %}
        {{ dump(dashboard) }}
{% endblock %}

